__pycache__/
.ipynb_checkpoints
.vscode
*.py[cod]
*$py.class
*.log
env_pypi.yml

*.idx
*.grib2
!sample_data/hrrr/20201214/subset_20201214_hrrr.t00z.wrfsfcf12.grib2

sandbox/
sandbox*

dist/*
build/*
*.egg-info
MANIFEST
.eggs/