__pycache__/
.ipynb_checkpoints
*.py[cod]
*$py.class
*.log
env_pypi.yml
condaenv*
.venv*

.DS_Store

.pytest_cache/

*.idx
*.grib2
!sample_data/hrrr/20201214/subset_20201214_hrrr.t00z.wrfsfcf12.grib2

.idea
sandbox/
sandbox*

local_B.py

docs/_build
docs/**/_autosummary

dist/*
build/*
*.egg-info
*.egg
MANIFEST
*.so
.eggs/
*.h5
$TMPDIR/

$TMPDIR/

herbie/_version.py
