.bg-light {
    background-color: #f0ead2!important;
}

a:hover {
    color: #88211b!important;
    text-decoration-line: underline;
  }

a {
    color: #0c3576!important;
    text-decoration-line: underline;
}

a:visited {
    color: #0c3576!important;
    text-decoration-line: underline;
}