:root {
    --pst-color-on-background: #f0ead2;
}

/* .bd-header[data-theme="light"] {
    background: #f0ead2 !important;
}

a:-webkit-any-link[data-theme="light"] {
    color: #25529b !important;
} */
